*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.web{
     text-align: center;
    background:pink; 
}

#first{
    
    
    
    color: black;
}

#third{
    /* font-size: 20px; */
    font-weight: bold;

}
#last{
    margin: 60px;
    padding: 60px;
    display: flex;
    justify-content: center;
}
.contact{
    height: 800px;
    background-color:pink;
        text-align: center;
    
        font-size: 15px;
    
    }

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

li{
    list-style: none;
}

a{
    color:black;
    text-decoration: none;
    font-size: 30px;
}


.loc{
    font-size: 20px;
}